.live-tag-list {
}

.live-tag-list label {
  float: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid grey;
  margin: 5px;
  text-transform: capitalize;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  box-shadow: 3px 3px 2px #eee;
  transition: transform 0.15s;
}

.live-tag-list label .tag-count {
  font-size: 70%;
  padding: 2px;
  text-align: center;
  display: inline-block;
  min-width: 2.5em;
  border-radius: 50px;
  background: rgba(200,200,200,0.5);
  margin-left: 5px;
}

.live-tag-list::after {
  content: "";
  display: block;
  clear: left;
}

.live-tag-list input[type=checkbox] {
  display: none;
}

.live-tag-list input[type=checkbox]:checked + label {
  background-color: green;
  border-color: darkgreen;
  color: #fff;
  box-shadow: none;
  transform: translateX(2px) translateY(2px);
}

.live-tag-list input[type=checkbox]:disabled + label {
  opacity: 0.25;
}

.live-tag-container {
  margin-top: 2rem;
}
